# Common Rules

- 每次代码修改后都需要运行 `pnpm run lint/lint:style` 来确保代码质量和规范
- 每次完成后都需要生成生成一个 `git add -A && git commit -m "${message}"`命令，其中`${message}`需要清晰描述此次代码变更的内容和实现功能和模块，这个提交命令不需要执行（格式遵循`.commitlint.config.mjs`规范）.
-  使用中文输出
-  除非用户需要否则不要创建任何文档
-  除非用户要求否则不要编写快速启动、运行示例等任何与实际需求无关的代码